<h1>New new.html.erb</h1>

<%= render 'form' %>

<%= link_to 'Back', videos_path %>


<!--
    访问http://localhost:3000/videos/new
    创建一个新的video将调用两个动作，第一个是new，它将初始化一个video对象。
    在 new.html.erb 视图中显示一个空的video给用户：

-->